:root {
  --color-primary: #e1e138;
  --color-secondary: #080e0f;
}

@font-face {
  font-family: "Electrolize";
  src: url(../fonts/Electrolize-Regular.woff2) format("woff2"),
    url(../fonts/Electrolize-Regular.woff) format("woff"),
    url(../fonts/Electrolize-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Glipervelz";
  src: url(../fonts/glipervelz-origy_full-webfont.woff2) format("woff2"),
    url(../fonts/glipervelz-origy_full-webfont.woff) format("woff"),
    url(../fonts/glipervelz-origy_full-webfont.ttf) format("truetype");
}
@font-face {
  font-family: 'Hackernoon';
  src: url(../fonts/hackernoonv2-regular-webfont.woff2) format('woff2'),
       url(../fonts/hackernoonv2-regular-webfont.woff) format('woff'),
       url(../fonts/hackernoonv2-regular-webfont.ttf) format('truetype');
}

* {
  font-family: "Electrolize";
}

body {
  margin: 0;
  padding: 0;
}

/* Header */
.backgroundHeader {
  background-image: url("../imgs/Backgrounds/backgroundHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  width: 100%;
}

h1 {
  font-family: "Hackernoon";
  color: white;
  font-size: 30px;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
}

.LogoHeader {
  width: 20%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 12px;
  padding: 0px;
  color: white;
}

.backgroundNav {
  background-image: url("../imgs/Backgrounds/backgroundHeader.png");
  border-radius: 30px;
  margin: 1px;
  padding: 1px;
}

a{
  color: white;
}

a:hover{
  cursor: pointer;
  color: var(--color-primary);
}


@media only screen and (min-width: 480px) {
  .backgroundHeader {
    display: flex;
    flex-direction: row;
  }

  .containerImage {
    width: 50%;
  }

  h1 {
    font-size: 70px;
  }

  nav {
    position: relative;
  }

  .backgroundNav {
    background-image: none;
    font-size: 24px;
  }
}

/* Homepage */
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Electrolize';
  font-size: 1.2em;
  color: var(--color-secondary);
}

hr {
  width: 50%;
  border : 1px solid var(--color-secondary);
}

/*Main illustrated section*/
.illustration-section {
  background-image: url('../imgs/Backgrounds/backgroundMain.png');
  padding-bottom: 20px;
}
.illustration {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.illustration-section p {
  font-size: 22px;
  font-family: 'Calibri';
  font-style: italic;
  color: white;
  padding: 68px 18px;
  line-height: 32px;
  letter-spacing: 4px;
}

/* booking section*/
.primary-title-back-stroke {
  color: var(--color-primary);
  text-align: center;
}
.big-reservation-title {
  font-size: 2.5em;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
#bottom-illustration-text {
  text-align: center;
  color: grey;
  padding: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  font-style: normal;
}
#reservation-button {
  width: 50px;
  border: 3px solid var(--color-primary);
  margin: 25px auto;
  padding: 12px 24px;
  color: var(--color-primary);
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
#reservation-button:hover {
  background-color: var(--color-primary);
  color: black;
  transition: 0.5s;
}

/*reviews section*/
#reviews-title {
  position: relative;
  top: 24px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 2em;
  padding: 12px;
  line-height: 22px;
}
#reviews-title::before {
  content: "“";
  position: absolute;
  top: -20px;
  left: 50%;
  font-size: 58px;
  font-weight: bold;
  color: var(--color-primary);
}

/*Carousel*/
.carousel {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.carousel-pictures {
  display: flex;
  overflow: hidden;
}
.carousel-picture, .carousel-main-picture {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}
.carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.carousel-dot.active {
  background: black;
}
