.backgroundHeader{
    background-image: url('../imgs/Backgrounds/backgroundHeader.png');
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    color: white;
}

@media only screen and (max-width: 375px) { 
    .LogoHeader{
        width: ;
    }

}
